# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# testing
/coverage

# production
/build

# misc
.DS_Store
*.pem

# python
__pycache__/
*.py[cod]
*.so
*.pyd

# virtual environments
api/.venv/
.env/
.env.local

# db files
*.sqlite3
*.db

# logs
logs/
*.log
*.out
*.pid
*.swp

# compiled files
*.pyc
*.pyo

# pytest and cache
.cache/
.pytest_cache/

# vscode settings
.vscode/

# pycharm settings
.idea/
*.iml

# build
dist/
build/

# fastapi files
staticfiles/
media/

# local tools and dependencies
poetry.lock
